.testimonials {
    text-align: center;
    padding: 50px 20px;
    background: #095859;
    color: white;
  }
  
  .testimonials h2 {
    font-size: 28px;
  }
  
  .testimonial {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .testimonial p {
    font-size: 16px;
  }
  
  .testimonial h4 {
    font-weight: bold;
    margin-top: 10px;
  }
  